---
global:
  imageRegistry: ""
  imagePullSecrets: []
  storageClass: ""

replicaCount: 1

clusterDomain: cluster.local

image:
  registry: docker.gitea.com
  repository: gitea
  tag: ""
  pullPolicy: Always
  rootless: true

imagePullSecrets: []

podSecurityContext:
  fsGroup: 1000

containerSecurityContext: {}

service:
  http:
    type: ClusterIP
    port: 3000
    clusterIP: None
    loadBalancerIP:
    nodePort:
    externalTrafficPolicy:
    externalIPs:
    ipFamilyPolicy:
    ipFamilies:
    loadBalancerSourceRanges: []
    annotations: {}

  ssh:
    type: ClusterIP
    port: 22
    clusterIP: None
    loadBalancerIP:
    nodePort:
    externalTrafficPolicy:
    externalIPs:
    ipFamilyPolicy:
    ipFamilies:
    hostPort:
    loadBalancerSourceRanges: []
    annotations: {}

ingress:
  enabled: false
  hosts:
    - host: gitea.jamma.dev
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: tls-jamma-gitea
      hosts:
        - gitea.jamma.dev

serviceAccount:
  create: false
  name: ""
  automountServiceAccountToken: false
  imagePullSecrets: []
  annotations: {}
  labels: {}

resources:
  limits:
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi

schedulerName: ""

nodeSelector: {}

tolerations: []

affinity: {}

dnsConfig: {}

statefulset:
  env: []
  terminationGracePeriodSeconds: 60
  labels: {}
  annotations: {}

persistence:
  enabled: true
  existingClaim: data-jamma-gitea-0
  size: 10Gi
  accessModes:
    - ReadWriteOnce
  labels: {}
  annotations: {}
  storageClass:
  subPath:

extraVolumes: []

extraContainerVolumeMounts: []

extraInitVolumeMounts: []

initPreScript: ""

initContainers:
  resources:
    limits: {}
    requests:
      cpu: 100m
      memory: 128Mi

signing:
  enabled: false
  gpgHome: /data/git/.gnupg

gitea:
  admin:
    existingSecret:
    username: jmhbnz
    password: placeholder
    email: "gitea@jamma.life"

  metrics:
    enabled: false
    serviceMonitor:
      enabled: false

  ldap: []

  oauth: []

  config:
    cache:
      ENABLED: false
    database:
      DB_TYPE: sqlite3
    service:
      DISABLE_REGISTRATION: true


  additionalConfigSources: []

  additionalConfigFromEnvs: []

  podAnnotations: {}

  livenessProbe:
    enabled: true
    tcpSocket:
      port: http
    initialDelaySeconds: 200
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10

  readinessProbe:
    enabled: true
    tcpSocket:
      port: http
    initialDelaySeconds: 5
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 3

  startupProbe:
    enabled: false
    tcpSocket:
      port: http
    initialDelaySeconds: 60
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10
