---
image:
  repository: ghcr.io/blakeblackshear/frigate
  tag:
  pullPolicy: IfNotPresent

imagePullSecrets: []

env: {}
  # TZ: UTC

envFromSecrets: []
  # secrets are required before `helm install`
  # - frigate-rstp-credentials

gpu:
  nvidia:
    enabled: false
    runtimeClassName:

shmSize: 2Gi

tmpfs:
  enabled: true
  sizeLimit: 1Gi

config: |
  mqtt:
    enables: false

  detectors:
    ov_0:
      type: openvino
      device: CPU
    ov_1:
      type: openvino
      device: CPU
  detect:
    enabled: true
  semantic_search:
    enabled: true
    model_size: small
  face_recognition:
    enabled: true
    model_size: small
  lpr:
    enabled: true
  classification:
    bird:
      enabled: false
  notifications:
    enabled: false
    email: frigate@jamma.life
  model:
    width: 300
    height: 300
    input_tensor: nhwc
    input_pixel_format: bgr
    path: /openvino-model/ssdlite_mobilenet_v2.xml
    labelmap_path: /openvino-model/coco_91cl_bkgr.txt
  record:
    enabled: true
    retain:
      days: 2
      mode: all
    alerts:
      retain:
        days: 7
    detections:
      retain:
        days: 5
  objects:
    track:
      - person
      - car
      - bicycle
      - motorcycle
      - dog
      - cat
      - bird
      - chicken
      - licence_plate
  review:
    alerts:
      labels:
        - car
        - person
        - motorcycle
        - licence_plate
    detections:
      labels:
        - cat
        - dog
        - bicycle
        - speech
        - bird
        - chicken
  cameras:
    jamma-driveway-cam:
      enabled: false

probes:
  liveness:
    enabled: true
    initialDelaySeconds: 30
    failureThreshold: 5
    timeoutSeconds: 10
  readiness:
    enabled: true
    initialDelaySeconds: 30
    failureThreshold: 5
    timeoutSeconds: 10
  startup:
    enabled: false
    failureThreshold: 30
    periodSeconds: 10

service:
  type: ClusterIP
  port: 5000

persistence:
  config:
    enabled: true
    accessMode: ReadWriteOnce
    size: 100Mi
    skipuninstall: true

    ## Copy configMap config into volume to make writable
    ## All live changes are lost when pod restarts, but this allows
    ## an easy way to run migrations and edit config, then scrape
    ## it from the API or copy out of the pod and update local helm values
    ephemeralWritableConfigYaml: true

  media:
    enabled: true
    accessMode: ReadWriteOnce
    size: 10Gi
    skipuninstall: true

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  #   gpu.intel.com/i915: 1
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
  #   gpu.intel.com/i915: 1

# -- Set Frigate Container Security Context
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000
  # privileged: true

# -- Set Pod level Security Context
# -- the container level securiy context defined above
# -- will override it for frigate container
podSecurityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000
  # fsGroup: 1000
  # privileged: true

